{% extends 'base.html.twig' %}

{% block auth %}

    <li><a   href="{{ path('reclamation_Ajout') }}">Reclamation</a></li>
    <li><a   href="{{ path('p_idev_homepage') }}"> se déconneter </a> </li>

{% endblock %}

{% block content %}
    {{ parent() }}
{% endblock  %}
