{% extends "PIdevBundle:Admin:Layout.html.twig" %}
{% block titrePage %}

    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Ajout Administrateurs</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('pi_dashboard') }}">Accueil</a></li>
                <li class="breadcrumb-item active">Ajout Administrateurs</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    Ajout.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}