<h1 style="color: #880000"> Detail de la reclamation numéro {{ id }} </h1>
<ul style="border: solid">
    <li> Utilisteur: {{  }} </li>
    <li> date envoit: {{ date }} </li>
    <li> status :  {{ date }}</li>
    <li> objet :  {{ date }}</li>
    <li> description :  {{  }}</li>

</ul>
