<h1 style="color: #880000"> Fiche technique de la voiture d'id {{ id }} </h1>
<ul style="border: solid">
    <li> Marque: {{ marque }} </li>
    <li> Série: {{ serie }} </li>
    <li> date :  {{ date }}</li>
</ul>
