{% extends"::base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}


    <section class="bg-white-f7">
        <div class="container pb-0">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="text-center">
                            <h2 class="title">Envoyer une reclamation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <form class="form-horizontal">
        <div class="form-group">

            <label for="inputEmail3" class="col-sm-2 control-label">Type de reclamation</label>

            <div class="col-sm-10">

                <label>
                    <input type="radio" > Animaux Perdus
                </label>
                <label>
                    <input type="radio"> Service
                </label>
                <label>
                    <input type="radio"> Produit
                </label>
            </div>


            <label for="inputEmail3" class="col-sm-2 control-label">Objet</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="c'est quoi l'objet de votre reclamation ? ">
            </div>
            <br>
            <br>

            <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control"rows="3" placeholder="Description de votre reclamation "></textarea>
            </div>


            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" >envoyer</button>
            </div>
        </div>
    </form>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}