{% extends '@PIdev/AcceuilConMembre.html.twig' %}

{% block content%}
    <center>
        <h1>Espace Reclamation </h1>

        {{ form_start(form) }}

        {{ form_widget(form.dateReclamation,{'value':"now"|date("m/d/y")}) }}

        {{ form_end(form) }}


    </center>

{% endblock %}
